<div class="fav-container">
  <div class="fav-hero"></div>
  <ul class="fav-categories-list hidden">
      <li class="fav-category " data-value="all">
        <button class="fav-category-btn" type="button">All categories</button>
      </li>
  </ul>
  <div class="empty-section-wrapper">
    <svg class="empty-section-icon" >
      <use href="./img/icons.svg#hat-icon" ></use>
    </svg>
    <p class="empty-section-text">It appears that you haven't added any recipes to your favorites yet. To get started, you can add recipes that you like to your favorites for easier access in the future.</p>
  </div>

  <ul class="fav-recipes-list hidden">
  </ul>
  
</div>