<section>
  <div class="footer-container">
    <div class="develop-container">
      <h3 class="footer-title">Project Developers</h3>
      <ul class="develop-list">
        <li class="item-list">
          <img
            src="../img/anonimus.jpg"
            alt=""
            width="100px"
            height="100px"
            class="develop-img"
          />
          <p class="develop-text">Nick Tsalyn</p>
        </li>
        <li class="item-list">
          <img
            src="../img/anonimus.jpg"
            alt=""
            width="100px"
            height="100px"
            class="develop-img"
          />
          <p class="develop-text">Anna Kulchytska</p>
        </li>
        <li class="item-list">
          <img
            src="../img/anonimus.jpg"
            alt=""
            width="100px"
            height="100px"
            class="develop-img"
          />
          <p class="develop-text">Oleh Panadii</p>
        </li>
        <li class="item-list">
          <img
            src="../img/anonimus.jpg"
            alt=""
            width="100px"
            height="100px"
            class="develop-img"
          />
          <p class="develop-text">Oleksandr Tsybulskiy</p>
        </li>
        <li class="item-list">
          <img
            src="../img/anonimus.jpg"
            alt=""
            width="100px"
            height="100px"
            class="develop-img"
          />
          <p class="develop-text">Daria Musienko</p>
        </li>
        <li class="item-list">
          <img
            src="../img/anonimus.jpg"
            alt=""
            width="100px"
            height="100px"
            class="develop-img"
          />
          <p class="develop-text">Eugene Matviychuk</p>
        </li>
        <li class="item-list">
          <img
            src="../img/anonimus.jpg"
            alt=""
            width="100px"
            height="100px"
            class="develop-img"
          />
          <p class="develop-text">Daryna Petrunina</p>
        </li>
        <li class="item-list">
          <img
            src="../img/anonimus.jpg"
            alt=""
            width="100px"
            height="100px"
            class="develop-img"
          />
          <p class="develop-text">Roman Chuykov</p>
        </li>
        <li class="item-list">
          <img
            src="../img/anonimus.jpg"
            alt=""
            width="100px"
            height="100px"
            class="develop-img"
          />
          <p class="develop-text">Kate Shcherbina</p>
        </li>
      </ul>
    </div>
    <div>
      <h3 class="footer-title">Contacts</h3>
      <ul class="social-list">
        <li>
          <a href="https://goit.global/ua/" class="social-list-item">
            <svg class="social-icon" width="26" height="26">
              <use href="./img/icons.svg#sphere"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/goitclub/" class="social-list-item">
            <svg class="social-icon" width="26" height="26">
              <use href="./img/icons.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/GoITclub.ua/" class="social-list-item">
            <svg class="social-icon" width="25" height="25">
              <use href="./img/icons.svg#facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <p>&copy; 2023 All Rights Reserved by Nick's Eleven</p>
  </div>
</section>
