<section>
  <div class="footer-container">
    <div class="develop-container">
      <h3 class="footer-title float-title">Project Developers</h3>
        
    </div>
    <div>
      <h3 class="footer-title">Our Partners</h3>
      <ul class="social-list">
        <li>
          <a href="https://goit.global/ua/" class="social-list-item" target="_blank">
            <svg class="social-icon" width="26" height="26">
              <use href="./img/icons.svg#sphere"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/goitclub/" class="social-list-item" target="_blank">
            <svg class="social-icon" width="26" height="26">
              <use href="./img/icons.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/GoITclub.ua/" class="social-list-item" target="_blank">
            <svg class="social-icon" width="25" height="25">
              <use href="./img/icons.svg#facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <p>&copy; 2023 All Rights Reserved by Nick's Eleven</p>
  </div>
</section>


