<div class="form-container">
    <form class="search-form" name="search-form">
        <div class="search-container">
            <label for="input-search" class="label-form"> Search</label> 
            <div class="search-overlay">
                <input class="input-form input-search" id="input-search" name="input search" type="text" value="" placeholder="Enter Text" autocomplete="off">
                <svg class="icon-search" width="18" height="18">
                    <use href="img/icons.svg#search"></use>
                </svg>
                <button class="btn-close-search" type="button">
                    <svg class="icon-close-search" width="18" height="18">
                        <use href="img/icons.svg#close-icon"></use>
                    </svg>
                </button>
            </div>
        </div>
              
        <!-- Вибір по часу приготування  -->
        <div class="search-container">
            <label for="input-time" class="label-form">Time</label>
            <div class="search-overlay ">
                <input class="input-form input-time" type="text" id="input-time" placeholder="0 min" disabled>
                <button class="btn-select-time btn-chevron-down" type="button">
                    <svg class="icon-select-time icon-chevron-down" width="18" height="18">
                        <use href="img/icons.svg#icon-chevron-down"></use>
                    </svg>
                </button>
                <ul class="form-select select-time">                  
                    <li class="option-tag">10 min</li>
                    <li class="option-tag">20 min</li>
                    <li class="option-tag">30 min</li>
                    <li class="option-tag">40 min</li>
                    <li class="option-tag">50 min</li>
                    <li class="option-tag">60 min</li>
                    <li class="option-tag">70 min</li>
                    <li class="option-tag">80 min</li>
                    <li class="option-tag">90 min</li>
                    <li class="option-tag">100 min</li>
                    <li class="option-tag">110 min</li>
                    <li class="option-tag">120 min</li>
                    <li class="option-tag">130 min</li>
                    <li class="option-tag">140 min</li>
                    <li class="option-tag">150 min</li>
                    <li class="option-tag">160 min</li>
                </ul>
            </div>
        </div>
        
        <!-- Пошук за країною походження -->

        <div class="search-container">
            <label for="input-area" class="label-form">Area</label>
            <div class="search-overlay">
                <input class="input-form input-area" type="text" id="input-area" placeholder="Region" disabled>
                <button class="btn-select-area btn-chevron-down" type="button">
                    <svg class="icon-select-area icon-chevron-down" width="18" height="18">
                        <use href="img/icons.svg#icon-chevron-down"></use>
                    </svg>
                </button>
                <ul class="form-select select-area">
                </ul>
            </div>
        </div>
        
        <!-- Пошук за інгридієнтами -->

        <div class="search-container">
            <label for="input-ingredients" class="label-form">Ingredients</label>
            <div class="search-overlay">
                <input class="input-form input-ingredients" type="text" id="input-ingredients" placeholder="Ingredients"
                    disabled>
                <button class="btn-select-ingredients btn-chevron-down" type="button">
                    <svg class="icon-select-ingredients icon-chevron-down" width="18" height="18">
                        <use href="img/icons.svg#icon-chevron-down"></use>
                    </svg>
                </button>
                <ul class="form-select select-ingredients">
                </ul>
            </div>
        </div>
        
    </form>
    <div class="reset-block">
        <p class="reset-text">Reset the filter</p>
        <button class="btn-reset-filter" type="button">
            <svg class="icon-reset-search" width="16" height="16">
                <use href="img/icons.svg#close-icon"></use>
            </svg>
        </button>
    </div>

    <!-- <div class="gallery-recipes"></div> -->
</div>