<!-- Hero section -->

<div class="hero container">
  <div class="hero-description">
    <h1 class="hero-text">
      Learn to Cook <span class="hero-span">Tasty Treats'</span> Customizable
      Masterclass
    </h1>
    <p class="hero-second-text">
      TastyTreats - Customize Your Meal with Ingredient Options and Step-by-Step
      Video Guides.
    </p>
    <button type="button" class="hero-btn ord-btn">Order now</button>
  </div>

  <div class="swiper">
    <div class="hero-event swiper-wrapper"></div>
    <div class="swiper-pagination"></div>
  </div>
</div>
