.search-form {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}
@media only screen and (min-width: 768px) {
  .search-form {
    gap: 16px;
  }
}
.label-form {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--secondary-color);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.17;
  gap: 8px;
}

.input-form {
  font-size: 14px;
  font-weight: 500;
  color: var(--primary-color);
  background-color: var(--background-color);
  outline: transparent;
  border-radius: 15px;
  border: 1px solid rgba(5, 5, 5, 0.2);
}
@media only screen and (min-width: 768px) {
  .label-form {
    font-size: 14px;
    line-height: 1.3;
  }
  .input-form {
    font-size: 16px;
  }
}
/* Пошук за назвою рецепта */
.search-overlay {
  position: relative;
}

.icon-search {
  position: absolute;
  left: 18px;
  top: 14px;
  transition: fill var(---transition-dur-timing-func);
}

.input-search {
  width: 100%;
  height: 46px;
  padding: 14px 122px 14px 48px;
}
@media only screen and (min-width: 375px) {
  .input-search {
    width: 335px;
  }
}
@media only screen and (min-width: 768px) {
  .input-search {
    width: 278px;
    height: 48px;
  }
}

.label-form:hover .icon-search,
.label-form:focus .icon-search {
  fill: var(--green-color);
}

.btn-close-search {
  width: 18px;
  height: 18px;
  display: none;
  position: absolute;
  top: 14px;
  right: 18px;
  align-items: center;
  padding: 0;
  border: none;
  background-color: var(--background-color);
}

.icon-close-search {
  stroke: rgba(5, 5, 5, 0.8);
}

/* Пошук за часом приготування */
.input-time {
  width: 160px;
  height: 46px;
  padding: 14px 18px;
}
@media only screen and (min-width: 768px) {
  .input-time {
    width: 125px;
    height: 48px;
  }
}

.btn-chevron-down {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 14px;
  right: 18px;
  display: flex;
  align-items: center;
  padding: 0;
  border: none;
  background-color: var(--background-color);
}

.icon-chevron-down {
  stroke: var(--secondary-color);
}

.form-select {
  position: absolute;
  margin: 0;
  padding: 14px 0 0 18px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  outline: transparent;
  border: none;
  border-radius: 14px;
  background-color: var(--background-color);
  box-shadow: 0px 4px 36px 0px rgba(0, 0, 0, 0.02);
  overflow-y: scroll;
  z-index: 100;
}

.select-time {
  width: 160px;
  height: 124px;
  display: none;
}
@media only screen and (min-width: minwidthpx) {
  .select-time {
    width: 125px;
    height: 128px;
  }
}

/* Пошук за країною походження */
.input-area {
  width: 161px;
  height: 46px;
  padding: 14px 18px;
}
@media only screen and (min-width: 768px) {
  .input-area {
    width: 141px;
    height: 48px;
  }
}
.select-area {
  width: 161px;
  height: 176px;
  display: none;
}
@media only screen and (max-width: maxwidthpx) {
  .select-area {
    width: 141px;
    height: 188px;
  }
}

/* Пошук за інгридієнтами */
.input-ingredients {
  width: 188px;
  height: 46px;
  padding: 14px 18px;
}
@media only screen and (min-width: 768px) {
  .input-ingredients {
    width: 188px;
    height: 48px;
  }
}

.select-ingredients {
  width: 188px;
  height: 176px;
  display: none;
}
@media only screen and (min-width: 768px) {
  .select-ingredients {
    height: 188px;
  }
}

.option-form {
  color: rgba(5, 5, 5, 0.3);
  font-weight: 500;
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color var(---transition-dur-timing-func);
}
.active {
  color: var(--primary-color);
}
.option-form:active {
  color: var(--primary-color);
}

/* Блок скидання пошуку */
.reset-block {
  margin: 14px 0 20px 0;
  display: flex;
  flex-direction: row-reverse;
  gap: 4px;
}
@media only screen and (min-width: 768px) {
  .reset-block {
    margin-bottom: 14px;
  }
}

.btn-reset-filter {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  padding: 0;
  border: none;
  background-color: var(--background-color);
}

.icon-reset-search {
  stroke: var(--green-color);
}

.reset-text {
  font-size: 12px;
  font-weight: 500;
  color: var(--secondary-color);
}
