/* Hero section */
.section-hero {
  width: 100%;
  padding-left: 20px;
}

@media only screen and (min-width: 375px) {
  .section-hero {
    width: 375px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 768px) {
  .section-hero {
    width: 768px;
    padding-left: 32px;
  }
}

@media only screen and (min-width: 1280px) {
  .section-hero {
    width: 1280px;
    padding-left: 100px;
  }
}
.hero {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding-bottom: 80px;
  padding-left: ;
}
.hero-description {
  width: 100%;
}

.hero-text {
  font-size: 26px;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 14px;
}
.hero-span {
  color: var(--green-color);
  font-size: 26px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.2;
  text-transform: uppercase;
}
.hero-second-text {
  line-height: 1.28;
  margin-bottom: 28px;
}
@media only screen and (max-width: 375px) {
  .hero-text {
    max-width: 280px;
    font-size: 22px;
  }
  .hero-span {
    font-size: 22px;
  }
  .hero-second-text {
    max-width: 280px;
  }
}
.hero-btn {
  display: inline-flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  border: 1px solid #9bb537;
  font-weight: 500;
  line-height: normal;
  background-color: transparent;
  transition: var(--transition-dur-timing-func);
}
.hero-btn:hover {
  background-color: var(--green-color);
  color: var(--white-color);
  transition: var(--transition-dur-timing-func);
}

@media only screen and (min-width: 375px) {
  .hero-description {
    width: 335px;
  }
}
@media only screen and (min-width: 768px) {
  .hero-description {
    width: 446px;
    margin: auto 0;
  }
  .hero-text {
    font-size: 36px;
    margin-bottom: 16px;
  }
  .hero-span {
    font-size: 36px;
  }
  .hero-second-text {
    line-height: 1.5;
    font-size: 16px;
    margin-bottom: 32px;
  }
  .hero-btn {
    padding: 14px 28px;
    border-radius: 15px;
  }
}
@media only screen and (min-width: 1280px) {
  .hero {
    flex-direction: row;
    gap: 32px;
    padding-bottom: 100px;
  }
  .hero-description {
    margin: 0;
  }
}

.event-description {
  width: 497px;
}
.event-item {
  display: flex;
  gap: 8px;
}
.chef {
  width: 80px;
}
.chef-photo {
  width: 80px;
  height: 280px;
  object-fit: cover;
  border-radius: 15px;
  border: 1px solid rgba(155, 181, 55, 0.3);
  background: var(--primary-color);
}
.event-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  height: 280px;
  padding: 56px 14px 14px 14px;
  border-radius: 15px;
  border: 1px solid rgba(155, 181, 55, 0.3);
  background: radial-gradient(circle, rgb(24, 30, 1) 0%, rgba(5, 5, 5, 1) 95%);
}

.event-photo {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  object-fit: cover;
  margin-bottom: auto;
}

.event-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.event-name {
  color: rgba(248, 248, 248, 0.6);
  text-align: center;
  font-size: 10px;
  font-weight: 500;
  line-height: 1.4;
  text-transform: uppercase;
}
.event-area {
  color: rgba(248, 248, 248, 0.2);
  text-align: center;
  font-size: 8px;
  line-height: 1.5;
}
.event-big-photo {
  width: 200px;
  height: 280px;
  border-radius: 15px;
  border: 1px solid rgba(155, 181, 55, 0.3);
  background: radial-gradient(circle, rgb(24, 30, 1) 0%, rgba(5, 5, 5, 1) 95%);
}

.big-photo {
  width: 200px;
  height: 280px;
  border-radius: 15px;
  object-fit: cover;
}

@media only screen and (min-width: 768px) {
  .event-description {
    width: 871px;
  }
  .event-item {
    gap: 16px;
  }
  .chef {
    width: 137px;
  }
  .chef-photo {
    width: 137px;
    height: 442px;
  }

  .event-detail {
    width: 351px;
    height: 442px;
    padding: 64px 14px 32px 14px;
  }
  .event-photo {
    width: 300px;
    height: 300px;
  }
  .event-name {
    font-size: 14px;
    line-height: 1.28;
  }
  .event-area {
    font-size: 12px;
    line-height: 1.16;
  }
  .event-big-photo {
    width: 351px;
    height: 442px;
  }
  .big-photo {
    width: 351px;
    height: 442px;
  }
}
@media only screen and (min-width: 1280px) {
  .hero-description .hero-text {
    width: 446px;
  }
  .hero-description {
    justify-content: center;
    align-items: center;
    margin: auto 0;
  }
}
/* Swiper */
.swiper {
  width: 100%;
  height: 302px;
  overflow: hidden;
}

@media only screen and (min-width: 768px) {
  .swiper {
    height: 468px;
  }
}
.swiper-horizontal .swiper-slide {
  width: 497px;
  height: 302px;
}
@media only screen and (min-width: 768px) {
  .swiper-horizontal .swiper-slide {
    width: 871px;
    height: 468px;
  }
}
.swiper-horizontal
  > .swiper-pagination-bullets.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: var(--swiper-pagination-bottom, -4px);
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  width: var(
    --swiper-pagination-bullet-width,
    var(--swiper-pagination-bullet-size, 4px)
  );
  height: var(
    --swiper-pagination-bullet-height,
    var(--swiper-pagination-bullet-size, 4px)
  );
  display: inline-block;
  border-radius: var(--swiper-pagination-bullet-border-radius, 50%);
  background: var(
    --swiper-pagination-bullet-inactive-color,
    var(--primary-color)
  );
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 1);
}

.swiper-horizontal > .swiper-pagination-bullet-active,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: var(--swiper-pagination-color, var(--green-color));
}
