/* Hero section */
.hero-event {
  margin-bottom: 4px;
}
.section-hero {
  /* padding-left: 20px; */
  overflow-x: hidden;
}
.hero {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding-bottom: 80px;
}
.hero-description {
  width: 100%;
}

.hero-text {
  font-size: 26px;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 14px;
}
.hero-span {
  color: var(--green-color);
  font-size: 26px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.2;
  text-transform: uppercase;
}
.hero-second-text {
  /* line-height: 18px; 128.571% */
  line-height: 1.28;
  margin-bottom: 28px;
}
@media only screen and (max-width: 375px) {
  .hero-text {
    max-width: 280px;
    font-size: 22px;
  }
  .hero-span {
    font-size: 22px;
  }
  .hero-second-text {
    max-width: 280px;
  }
}
.hero-btn {
  display: inline-flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  border: 1px solid #9bb537;
  font-weight: 500;
  line-height: normal;
  background-color: transparent;
}
@media only screen and (min-width: 375px) {
  .hero-description {
    width: 335px;
  }
  /* .section-hero {
    padding-left: 20px;
  } */
}
@media only screen and (min-width: 768px) {
  .hero-description {
    width: 446px;
    margin: auto 0;
  }
  .section-hero {
    padding-left: 32px;
  }
  .hero-text {
    font-size: 36px;
    margin-bottom: 16px;
  }
  .hero-span {
    font-size: 36px;
  }
  .hero-second-text {
    /* line-height: 18px; 128.571% */
    line-height: 1.5;
    font-size: 16px;
    margin-bottom: 32px;
  }
  .hero-btn {
    padding: 14px 28px;
    border-radius: 15px;
  }
}
@media only screen and (min-width: 1280px) {
  /* .section-hero {
    padding-left: 100px;
  } */
  .hero {
    flex-direction: row;
    gap: 32px;
    padding-bottom: 100px;
  }
}
.hero-event {
  margin-bottom: 4px;
}
.event-description {
  width: 497px;
  /* overflow-x: hidden; */
}
.event-item {
  /* width: 497px; */
  display: flex;
  gap: 8px;
  /* overflow-x: hidden; */
}
.chef {
  width: 80px;
}
.chef-photo {
  width: 80px;
  height: 280px;
  object-fit: cover;
  border-radius: 15px;
  background: var(--primary-color);
}
.event {
  width: 200px;
  height: 280px;
  padding: 56px 14px 14px 14px;
  border-radius: 15px;
  border: 1px solid rgba(155, 181, 55, 0.3);
  background: var(--primary-color);
}
/* .event-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */
.event-photo {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  object-fit: cover;
  margin-bottom: auto;
}
.event-text {
  display: flex;
  /* width: 172px; */
  flex-direction: column;
  align-items: center;
  gap: 8px;
  /* margin-top: auto; */
}
.event-name {
  color: rgba(248, 248, 248, 0.6);
  text-align: center;
  font-size: 10px;
  font-weight: 500;
  line-height: 1.4; /* 140% */
  text-transform: uppercase;
}
.event-area {
  color: rgba(248, 248, 248, 0.2);
  text-align: center;
  font-size: 8px;
  line-height: 1.5; /* 150% */
}
.event-big-photo {
  width: 200px;
  height: 280px;
}
.big-photo {
  width: 200px;
  height: 280px;
  border-radius: 15px;
  object-fit: cover;
}

@media only screen and (min-width: 768px) {
  .event-item {
    gap: 16px;
  }
  .chef {
    width: 137px;
  }
  .chef-photo {
    width: 137px;
    height: 442px;
  }

  .event {
    width: 351px;
    height: 442px;
    padding: 64px 14px 32px 14px;
  }
  .event-photo {
    width: 300px;
    height: 300px;
  }
  .event-name {
    font-size: 14px;
    line-height: 1.28;
  }
  .event-area {
    font-size: 12px;
    line-height: 1.16;
  }
  .event-big-photo {
    width: 351px;
    height: 442px;
  }
  .big-photo {
    width: 351px;
    height: 442px;
    background: var(--primary-color);
  }
}
@media only screen and (min-width: 1280px) {
}

/* Swiper */

.swiper {
  width: 500px;
  height: 302px;
}
@media only screen and (min-width: 375px) {
  .swiper {
    width: 900px;
    height: 468px;
  }
}

.swiper-pagination-bullet {
  width: 4px;
  height: 4px;
}
.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: var(--green-color, var(--primary-color));
}

.swiper-pagination-bullet.swiper-pagination-bullet-active.swiper-pagination-bullet.swiper-pagination-bullet {
  background: var(--green-color, var(--primary-color));
}

.swiper-pagination-bullet {
  width: 4px;
  height: 4px;
  background: var(--primary-color);
}
/* .swiper-pagination-bullet {
  width: var(
    --swiper-pagination-bullet-width,
    var(--swiper-pagination-bullet-size, 4px)
  );
  height: var(
    --swiper-pagination-bullet-height,
    var(--swiper-pagination-bullet-size, 4px)
  );
  display: inline-block;
  border-radius: var(--swiper-pagination-bullet-border-radius, 50%);
  background: var(
    --swiper-pagination-bullet-inactive-color,
    var(--primary-color)
  );
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.2);
} */
/* .swiper-pagination-bullet {
  width: 4px;
  height: 4px;
} */
