.hero {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding-bottom: 80px;
}
.hero-description {
  max-width: 335px;
}
.hero-text {
  font-size: 26px;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 14px;
}
.hero-span {
  color: var(--green-color);
  font-size: 26px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.2;
  text-transform: uppercase;
}
.hero-second-text {
  /* line-height: 18px; 128.571% */
  line-height: 1.28;
  margin-bottom: 28px;
}
.hero-btn {
  display: inline-flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  border: 1px solid #9bb537;
  font-weight: 500;
  line-height: normal;
  background-color: transparent;
}
.event-description {
  width: 497px;
}
.event-item {
  display: flex;
  gap: 16px;
}
.chef {
  width: 80px;
}
.chef-photo {
  width: 80px;
  height: 280px;
  object-fit: cover;
  border-radius: 15px;
  background: var(--primary-color);
}
.event {
  width: 200px;
  height: 280px;
  padding: 56px 14px 14px 14px;
  border-radius: 15px;
  border: 1px solid rgba(155, 181, 55, 0.3);
  background: var(--primary-color);
}
/* .event-wrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto 0;
} */
.event-photo {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  object-fit: cover;
}
.event-text {
  display: flex;
  width: 172px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  /* margin-top: auto; */
}
.event-name {
  color: rgba(248, 248, 248, 0.6);
  text-align: center;
  font-size: 10px;
  font-weight: 500;
  line-height: 1.4; /* 140% */
  text-transform: uppercase;
}
.event-area {
  color: rgba(248, 248, 248, 0.2);
  text-align: center;
  font-size: 8px;
  line-height: 1.5; /* 150% */
}
.event-big-photo {
  width: 200px;
  height: 280px;
}
.big-photo {
  width: 200px;
  height: 280px;
  border-radius: 15px;
  object-fit: cover;
}
/* .swiper-pagination-bullet {
  width: 13px;
  height: 13px;
}
.swiper-pagination-bullet-active {
  width: 28px;
  height: 13px;
  border-radius: 100px 100px;
  background: black;
}
.swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 80px;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 6px);
}
.swiper,
swiper-container {
  position: static;
}
.swiper-wrapper {
  position: static;
}
.section-hero {
  padding-bottom: 117px;
  position: relative;
} */
