.modal-rating-input {
  position: absolute;
  opacity: 0;
}
.modal-rating-star {
  fill: #d9d9d9;
  cursor: pointer;
}
.modal-rating-star-active {
  fill: #eea10c;
}
.modal-rating-form {
  padding: 20px;
  /* min-width: 335px; */
  border-radius: 15px;
  background: #fff;
  position: relative;
  height: 216px;
}
@media only screen and (min-width: 375px) {
  .modal-rating-form {
    width: 335px;
    /* height: 216px; */
  }
}
@media only screen and (min-width: 768px) {
  .modal-rating-form {
    width: 424px;
    height: 254px;
    padding: 32px;
  }
}
.modal-rating-display {
  /* padding: 20px; */
    /* height: 216px;   */
}
.modal-rating-head {
  color: var(--primary-color);
 
  font-size: 14px; 
  font-style: normal;
  font-weight: 600;
  
  margin-bottom: 4px;
}
.modal-rating-container {
  height: 24px;
  display: flex;
  margin-bottom: 24px;

  align-items: center;
}
@media only screen and (min-width: 768px) {
  .modal-rating-container {
    margin-bottom: 32px;
  }
}
.modal-rating-email-container {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
@media only screen and (min-width: 768px) {
  .modal-rating-email-container{
    gap: 16px;
  }
}
.modal-rating-btn {
  display: flex;
  padding: 15px 0;
  /* padding-top: 15px;
  padding-bottom: 15px; */
  justify-content: center;
  border-radius: 15px;
  background-color: var(--white-color);
  color: var(--primary-color);
 
  font-weight: 500;

  border: 1px solid var(--green-color);
}
.modal-rating-btn:hover{
  background-color: var(--green-color);
  color:var(--white-color);
}
@media only screen and (min-width: 768px) {
  .modal-rating-btn{
    padding: 14px 0;
  }
}

.modal-rating-email-in-input {
padding: 14px 18px;
  /* padding-top: 14px;
  padding-bottom: 14px;  */
   padding-left: 18px;
  border-radius: 15px; 
  border: 1px solid rgba(5, 5, 5, 0.2);
  width: 100%;
  /* height: 46px; */

  color: rgba(5, 5, 5, 0.50);
/* font-family: Inter;
font-size: 14px;
font-style: normal; */
font-weight: 500;

}
@media only screen and (min-width: 768px) {
  .modal-rating-email-in-input{
    font-size: 16px;
    line-height:1.25;
  }
}
.modal-rating-email-in-input:hover{
  border-color:var(--green-color);
}
.modal-rating-counter {
  margin-right: 8px;
 width: 25px;
  color: #050505;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.modal-rating-close-btn{
position: absolute;
stroke:#050505;
top: 14px;
right: 14px;
cursor: pointer;

  
}
@media only screen and (min-width: 768px) {
  .modal-rating-close-btn{
    top:16px;
    right: 16px;
  }
}
.modal-rating-stars-container{
  height: 100%;
}