.alert {
  border-color: red;
}

.basicLightbox {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0.01;
  transition: opacity 0.4s ease;
  z-index: 1000;
  will-change: opacity;
}
.basicLightbox--visible {
  opacity: 1;
}
.basicLightbox__placeholder {
  max-width: 100%;
  transform: scale(0.9);
  transition: transform 0.4s ease;
  z-index: 1;
  will-change: transform;
}
.basicLightbox__placeholder > iframe:first-child:last-child,
.basicLightbox__placeholder > img:first-child:last-child,
.basicLightbox__placeholder > video:first-child:last-child {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  max-width: 95%;
  max-height: 95%;
}
.basicLightbox__placeholder > iframe:first-child:last-child,
.basicLightbox__placeholder > video:first-child:last-child {
  pointer-events: auto;
}
.basicLightbox__placeholder > img:first-child:last-child,
.basicLightbox__placeholder > video:first-child:last-child {
  width: auto;
  height: auto;
}
.basicLightbox--iframe .basicLightbox__placeholder,
.basicLightbox--img .basicLightbox__placeholder,
.basicLightbox--video .basicLightbox__placeholder {
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.basicLightbox--visible .basicLightbox__placeholder {
  transform: scale(1);
}

.modal {
  width: 335px;
  height: 582px;
  border-radius: 15px;
  background: #fff;
  padding: 28px 20px;
}

@media only screen and (min-width: 768px) {
  .modal {
    padding: 40px;
    width: 440px;
    height: 632px;
  }
}

.ord-title {
  color: var(--primary-color);
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.22;
  text-transform: uppercase;
  margin-bottom: 28px;
}

@media only screen and (min-width: 768px) {
  .ord-title {
    margin-bottom: 40px;
  }
}

.order-form {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

@media only screen and (min-width: 768px) {
  .order-form {
    gap: 18px;
  }
}

.label {
  color: var(--secondary-color);
  font-family: Inter;
  font-weight: 500;
  margin-bottom: 8px;
}

.input {
  display: flex;
  width: 100%;
  padding: 14px 18px;
  align-items: flex-start;
  gap: 32px;
  border-radius: 15px;
  border: 1px solid rgba(5, 5, 5, 0.2);
}

@media only screen and (min-width: 768px) {
  .input {
    width: 360px;
  }
}

.comment {
  display: flex;
  width: 295px;
  height: 100px;
  padding: 14px 18px;
  align-items: flex-start;
  gap: 32px;
  border-radius: 15px;
  border: 1px solid rgba(5, 5, 5, 0.2);
  resize: none;
}

@media only screen and (min-width: 768px) {
  .comment {
    width: 360px;
    height: 100px;
  }
}

.send-button {
  color: var(--white-color);
  font-family: Inter;
  font-weight: 500;
  display: flex;
  width: 295px;
  padding: 15px 148px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  border: 1px solid var(--green-color);
  background-color: var(--green-color);
  transition: var(--transition-dur-timing-func);
}

@media only screen and (min-width: 768px) {
  .send-button {
    width: 360px;
    height: 48px;
    padding: 14px 162px;
  }
}

.send-button:hover,
.send-button:focus {
  color: #f8f8f8;
  background-color: var(--green-color);
  border: none;
}

@media only screen and (min-width: 768px) {
  .send-button {
    padding: 14px 162px;
    width: 360px;
    height: 48px;
  }
}

.ord-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20.5px;
  right: 20px;
  padding: 0;
  color: var(--white-color);
  background-color: transparent;
  outline: none;
  border: none;
  transition: color var(--transition-dur-timing-func);
}

.ord-close-icon {
  width: 24px;
  height: 24px;
  stroke: var(--primary-color);
}
