div .tui-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tui-page-btn {
  width: 44px !important;
  height: 44px !important;
  color: var(--primary-color) !important;
  font-family: Inter;
  font-size: 18px !important;
  font-weight: 600 !important;
  line-height: 1.22 !important;
  border-radius: 50%;
  padding: 8px 0 6px !important;
  margin-right: 15px !important;
  border: 1px solid var(--secondary-color) !important;
}

.tui-is-selected {
  background-color: var(--green-color) !important;
  border: 1px solid var(--green-color) !important;
  width: 44px;
  height: 44px;
}

.tui-is-disabled {
  width: 44px;
  height: 44px;
  background-color: var(--primary-color) !important;
  border: 1px solid var(--primary-color) !important;
}

/* .tui-first, .tui-prev, .tui-next, .tui-last {
  background-color: var(--green-color) !important;
  border: 1px solid var(--green-color) !important;
} */

.tui-ico-ellip {
  width: 44px;
  height: 44px;
}

.tui-first-child {
  width: 44px;
  height: 44px;
}

.tui-last-child {
  width: 44px;
  height: 44px;
}
