.gallery-recipes {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
@media only screen and (min-width: 375px) {
  .gallery-recipes {
    width: 335px;
  }
}
@media only screen and (min-width: 768px) {
  .gallery-recipes {
    gap: 16px;
    width: 496px;
  }
}

@media only screen and (min-width: 1200px) {
  .gallery-recipes {
    gap: 16px;
    width: 782px;
  }
}

.card-item {
  width: 100%;
  height: 335px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;

  padding: 16px;
  border-radius: 8px;
}

@media only screen and (min-width: 375px) {
  .card-item {
    width: 335px;
    height: 335px;
  }
}

@media only screen and (min-width: 768px) {
  .card-item {
    width: 240px;
    height: 264px;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .card-item {
    width: 250px;
    height: 287px;
    margin-bottom: 16px;
  }
}

button.heart {
  padding: 0;
  line-height: 1;

  border: none;
  background-color: transparent;
}

.card-item .icon-heart {
  fill: none;
  stroke: var(--background-color);
  stroke-width: 2;
  opacity: 0.5;

  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card-item.active .icon-heart {
  fill: var(--background-color);
  opacity: 1;
}

@media (hover: hover) {
  .card-item .icon-heart:hover,
  .card-item .icon-heart:focus {
    fill: var(--background-color);
    opacity: 1;
  }
}

@media not (hover: hover) {
  .card-item .icon-heart:active {
    fill: var(--background-color);
    opacity: 1;
  }
}

.card-descr {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.recipe-title {
  margin-bottom: 8px;

  color: var(--background-color);
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.28;
  text-transform: uppercase;
}

.recipe-descr {
  margin-bottom: 16px;

  color: var(--background-color);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;

  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.secondary-desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.recipe-rating {
  color: var(--background-color);

  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
}

.see-recipe {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 8px;
  background: var(--green-color);
  border: none;

  color: var(--background-color);

  font-size: 12px;
  font-weight: 500;
  line-height: normal;

  transition: color 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
@media only screen and (min-width: 375px) {
  .see-recipe {
    padding: 8px 10px;
  }
}

@media only screen and (min-width: 1200px) {
  .see-recipe {
    padding: 8px 16px;
  }
}
@media (hover: hover) {
  .see-recipe:hover,
  .see-recipe:focus {
    color: var(--primary-color);
  }
}

@media not (hover: hover) {
  .see-recipe {
    color: var(--primary-color);
  }
}
.rating-container {
  display: flex;
  align-items: flex-start;
  gap: 4px;
}
.icon-list {
  display: flex;
  gap: 2px;
}
.icon-rating {
  height: 15px;
}
.icon-rating.checked {
  fill: #eea10c;
}

.icon-rating.unchecked {
  fill: var(--background-color);
  opacity: 0.2;
}
