
.alert {
  border-color: red;
}

.basicLightbox {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0.01;
  transition: opacity 0.4s ease;
  z-index: 1000;
  will-change: opacity;
}
.basicLightbox--visible {
  opacity: 1;
}
.basicLightbox__placeholder {
  max-width: 100%;
  transform: scale(0.9);
  transition: transform 0.4s ease;
  z-index: 1;
  will-change: transform;
}
.basicLightbox__placeholder > iframe:first-child:last-child,
.basicLightbox__placeholder > img:first-child:last-child,
.basicLightbox__placeholder > video:first-child:last-child {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  max-width: 95%;
  max-height: 95%;
}
.basicLightbox__placeholder > iframe:first-child:last-child,
.basicLightbox__placeholder > video:first-child:last-child {
  pointer-events: auto;
}
.basicLightbox__placeholder > img:first-child:last-child,
.basicLightbox__placeholder > video:first-child:last-child {
  width: auto;
  height: auto;
}
.basicLightbox--iframe .basicLightbox__placeholder,
.basicLightbox--img .basicLightbox__placeholder,
.basicLightbox--video .basicLightbox__placeholder {
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.basicLightbox--visible .basicLightbox__placeholder {
  transform: scale(1);
}

/**
  |============================
  |       Класи Модалки 
  |============================
*/

.modal {
    width: 500px;
    height: 500px;
    background: #fff;
    border-radius: 15px;
    padding: 40px;
  }
  

.registration-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sign-password {
  display: flex;
  width: 360px;
  height: 48px;
  padding: 14px 169px 14px 18px;
  align-items: flex-start;
  gap: 32px;
  border-radius: 15px;
  border: 1px solid rgba(5, 5, 5, 0.2);
}

.sign-name {
  display: flex;
  width: 360px;
  height: 48px;
  padding: 14px 169px 14px 18px;
  align-items: flex-start;
  gap: 32px;
  border-radius: 15px;
  border: 1px solid rgba(5, 5, 5, 0.2);
}

.show-password {
  display: flex;
  width: 200px;
  padding: 5px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border: none;
  background-color: transparent;
}

.sign-button {
  display: flex;
  width: 360px;
  height: 48px;
  padding: 14px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 15px;
  background: #9bb537;
  margin-top: 40px;
  margin-bottom: 20px;
}

.log-account {
  display: flex;
  width: 360px;
  height: 48px;
  padding: 14px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 15px;
}

.login-password {
  display: flex;
  width: 360px;
  height: 48px;
  padding: 14px 169px 14px 18px;
  align-items: flex-start;
  gap: 32px;
  border-radius: 15px;
  border: 1px solid rgba(5, 5, 5, 0.2);
}

.login-name {
  display: flex;
  width: 360px;
  height: 48px;
  padding: 14px 169px 14px 18px;
  align-items: flex-start;
  gap: 32px;
  border-radius: 15px;
  border: 1px solid rgba(5, 5, 5, 0.2);
}

.login-button {
    display: flex;
    width: 360px;
    height: 48px;
    padding: 14px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #9bb537;
    margin-top: 40px;
    margin-bottom: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.reg-title {
    text-align: center;
    margin-bottom: 20px;
}

.sign-account {
    display: flex;
    width: 360px;
    height: 48px;
    padding: 14px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 15px;
}
