@import url('./reset.css');
@import url('./fonts.css');
@import url('./hero.css');
@import url('./main-favorite.css');
@import url('./form.css');
@import url('./list-button.css');
@import url('./popular.css');
@import url('./theme-switch.css');
@import url('./footer.css');
@import url('./header.css');
@import url('./recipes-gallery.css');
@import url('./modal-first.css');
@import url('./modal-rating.css');
@import url('./registration.css');
@import url('./pagination.css');
@import url('./order-modal.css');

:root {
  --primary-color: #050505;
  --secondary-color: rgba(5, 5, 5, 0.5);
  --background-color: #f8f8f8;
  --green-color: #9bb537;
  --white-color: #f8f8f8;
  --dark-theme-background: #161616;
  --transition-dur-timing-func: 300ms ease-out;
}

* {
  transition: all 3s;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.28;
  font-weight: 400;

  color: var(--primary-color);
  background: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  transition: color var(--transition-dur-timing-func);
}

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

@media only screen and (min-width: 375px) {
  .container {
    width: 375px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 100px;
    padding-right: 99px;
  }
}

.section-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 40px;
}

.left-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.right-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 375px) {
  .left-container {
    width: 332px;
  }
}

@media only screen and (min-width: 768px) {
  .left-container {
    width: 176px;
    gap: 64px;
  }
  .section-wrapper {
    flex-direction: row;
    gap: 32px;
  }
}

@media only screen and (min-width: 1280px) {
  .left-container {
    width: 235px;
  }
  .section-wrapper {
    gap: 64px;
  }
}

/**
  |============================
  |    Scroll Button
  |============================
*/

.scroll-button {
  fill: var(--green-color);
  display: none;
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 999;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 1px solid var(--green-color);
  background-color: var(--white-color);
  transition: 300ms ease-out;;
  transform: translateY(0);
  animation: float 2s linear infinite;
}



@keyframes float {
  0% {
    transform: translatey(0px);
  }

  25% {
    transform: translatey(-3px);
  }

  50% {
    transform: translatey(0px);
  }

  75% {
    transform: translatey(3px);
  }

  100% {
    transform: translatey(0px);
  }
}


.scroll-button:hover,
.scroll-button:focus {
  fill: var(--white-color);
  background-color: var(--green-color);
  border: none;
}

.scroll-icon {
  width: 20px;
  height: 20px;
}