body.dark-theme {
  background-color: var(--dark-theme-background);
  color: var(--white-color);
}

/* ----------- HEADER ----------- */

.dark-theme .logo {
  color: var(--white-color);
}

.dark-theme .mobile-menu {
  background-color: var(--primary-color);
}

.dark-theme .header-chart-icon {
  stroke: var(--white-color);
}
.dark-theme .mobile-menu-open-icon {
  stroke: var(--white-color);
}

.dark-theme .registration-btn-icon {
  stroke: var(--white-color);
}

/* ----------- HEADER ----------- */



/* ----------- POPULAR ----------- */

.dark-theme .popular-title {
  color: #FFF;
}

.dark-theme .item-title {
  color: #FFF;
}

.dark-theme .item-text {
  color: rgba(255, 255, 255, 0.80);
}

/* ----------- POPULAR ----------- */



/* ----------- ORDER MODAL ----------- */

.dark-theme .modal {
  background: var(--primary-color)
}

.dark-theme .ord-title {
  color: #FFF;
}

.dark-theme .label {
  color: rgba(255, 255, 255, 0.50);
}

.dark-theme .send-button {
  color: #FFF;
}

/* ----------- ORDER MODAL ----------- */

/* ----------- FOOTER ----------- */

.dark-theme .social-icon {
  stroke: var(--white-color);
}

/* ----------- FOOTER ----------- */